html, body {
   font-family: Arial, Helvetica, sans-serif;
   color: #402002;
   margin: 0px;
   background-color: #eeeeee;
}
p {
  padding-left: 8px;
  padding-right: 8px;
}
ul {
  text-align: left;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #404020;
}

a:visited {
  color: #854203;
}

a:hover {
  color: #808040;
}

p {
  text-align: justify;
}

h1 {
  background-color: white;
  color: #402002;
  margin-top: 0px;
  margin-bottom: 0px;
}
h2 {
  color: #402002;
}
h3 {
  color: #204000;
}
h4 {
  color:#404000;
}
h5 {
  color: brown;
  }
pre {
  background-color: #fef3e1;
}
div.fullframe {
  border-style: none;
  background-color: #eeeeee;
  margin-left: 8px;
  margin-right: 8px;
}
div.tagline {
 width: 100%;
 text-align: left;
}
#transp {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #f0f0f0;
  margin: 10px;
  background-color: #ffffff;
  float: none;
  position: absolute;
  left: 350px;
  z-index: 2;
}
div.maintitle {
 width: 100%;
 background-color: #f0f0f0;
 text-align: left;
 border-style: solid;
 border-width: 1px;
 font-weight: bold;
 padding: 1px;
}
a.menubar {
  color: #402002;
  border-width: 0px;
  border-style: none;
  text-align: center;
  font-weight: bold;
  padding: 4px;
}

a.menubar:hover {
  color: #f0c823;
}
div.menu {
 width: 100%;
 padding: 0px;
 text-align: left;
 border-width: 0px;
 border-style: none;
}
table.menubar {
  color: #402002;
  border-width: 0px;
  border-style: none;
  text-align: center;
  font-weight: bold;
  padding: 4px;
}
div.body {
 padding: 1px;
 margin-top: 8px;
 margin-bottom: 8px;
 margin-left: 4px;
 border-width: 1px;
 border-style: solid;
 border-color: #000000;
 background-color: #ffffff;
 text-align: left;
}
TD.tiptd {
 border-bottom:1px solid #333366;
 border-top:1px solid #DDDDEE;
 border-left:1px solid #DDDDEE;
 border-right:1px solid #333366;
 padding:2px;
 font-family:Helvetica,Arial,sans-serif;
}
SPAN.ptt {
 font-family:Helvetica,Arial,sans-serif; 
 font-size:small; 
 font-weight:bold; 
 color:white; 
 text-align:center;
}
SPAN.pst {
 font-family:Helvetica,Arial,sans-serif;
 font-size:small;
 font-weight:normal;
 color:black;
 text-align:left;
}